-- Function to get bids with usernames for a listing\nCREATE OR REPLACE FUNCTION public.get_bids_with_usernames_for_listing(listing_id uuid)\nRETURNS TABLE (\n  id uuid,\n  listing_id uuid,\n  user_id uuid,\n  username text,\n  amount numeric,\n  created_at timestamptz\n)\nLANGUAGE sql\nSECURITY definer\nAS }\n  SELECT\n    b.id,\n    b.listing_id,\n    b.user_id,\n    COALESCE(p.first_name || ' ' || p.last_name, p.first_name, 'Anonymous') as username,\n    b.amount,\n    b.created_at\n  FROM\n    bids b\n  LEFT JOIN\n    profiles p ON b.user_id = p.id\n  WHERE\n    b.listing_id = listing_id\n  ORDER BY\n    b.amount DESC;\n};
